<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Show/Delete</title>
<link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/resources/css/style.css"/>
<script data-main="/resources/js/main" src="/resources/js/require.js"></script>