<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show/Delete</title>
</head>
<body>
    <img src="/resources/logo.png"/><br/>
    <table width="600px">
        <tr>
            <td><b>ID</b></td>
            <td><b>Name</b></td>
            <td><b>Number</b></td>
            <td><b>E-mail</b></td>
            <td><b>Date</b></td>
            <td><b>Action</b></td>
        </tr>
        <tr th:each="contact : ${contacts}">
            <td class="span3" th:each="id : ${contact.id}" th:text="${id}">ID</td>
            <td class="span3" th:each="name : ${contact.name}" th:text="${name}">Name</td>
            <td class="span3" th:each="number : ${contact.number}" th:text="${number}">Number</td>
            <td class="span3" th:each="email : ${contact.email}" th:text="${email}">Email</td>
            <td class="span3" th:each="date : ${contact.date}" th:text="${date}">Date</td>
            <td>
                <a th:href="@{/edit(id=${contact.id})}" th:text="Редактировать"></a>
                <a th:href="@{/delete(id=${contact.id})}" th:text="Удалить"></a>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <a href="/add">Добавить запись</a>
            </td>
        </tr>
    </table>
</body>
</html>